.cart-header {
  text-align: center;
  font-size: 2rem;
}

.cart-container {
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
}

.cart-container table {
  margin-top: 1rem;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.cart-container table img {
  width: 200px;
}

.cart-container th {
  text-align: center;
  padding: 2rem;
  border-bottom: 3px solid #ddd;
}

.cart-container td {
  padding: 2rem;
}

.cart-container tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.cart-container th:nth-child(1) {
  text-align: left;
}

.cart-container th:nth-child(4) {
  text-align: right;
}

.price,
.quantity {
  text-align: center;
}

.total {
  text-align: right;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left !important;
  flex-wrap: wrap;
}

.item img {
  margin-right: 2rem;
}

.desc {
  flex: 1;
}

.prod-category {
  font-size: .8rem;
  color: rgb(223, 190, 59);
  font-weight: bold;
  text-transform: uppercase;
}

.prod-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-summary {
  width: 30vw;
  padding: 2rem;
  margin-left: auto;
}

.cart-summary>div {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-summary>div>span:nth-child(1) {
  font-weight: bold;
}

.cart-summary button {
  padding: .5rem 2rem;
  margin-top: 1.5rem;
  border: none;
  background-color: rgb(223, 190, 59);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: rgb(200, 171, 53);
}


table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 1000px) {
  table {
    font-size: 0.9em;
  }

  .cart-container {
    padding: 1rem;
  }

  .cart-header h2 {
    font-size: 1.5em;
  }

  .cart-summary {
    flex-wrap: wrap;
  }

  .cart-summary>div {
    margin: 10px;
    padding: 10px;
  }

  .cart-summary>div>span {
    margin: 10px;
  }

  .cart-summary button {
    margin: auto;
  }

  .prod-name {
    text-align: center;
  }

  .prod-category {
    text-align: center;
  }

  .desc {
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .price,
  .quantity {
    padding: 0 !important;
    /* text-align: center; */
  }

  .total {
    padding: 0 !important;
    padding-right: 10px !important;
  }
}