body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial;
}

.wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgba(234, 234, 234, .5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.logo img {
  width: 350px;
}

.welcome {
  text-align: center;
}

.welcome h1 {
  font-size: 3rem;
}

.welcome p {
  font-size: 1.5rem;
}

.welcome a {
  display: inline-block;
  background-color: #f44336;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: bold;
}

.welcome a:hover {
  background-color: #e53935;
}